body {
	background-image: url("/img/background.jpg");
	background-repeat: no-repeat;
	background-attachment:fixed;
	background-position: 0 0;
    background-size: 100% 100%;
    
    display: none;
    color: white;
}

@keyframes btt_fadein{
	0%	{opacity: 0; margin-top: 90pt;}
	100%	{opacity: 1;}
}

#header {
	display: flex;
	display: -webkit-flex;
	
	background-color: rgba(157, 0, 0, 0.9);
 	
 	min-width: 700pt;
 	width: 80%;
 	height: 100pt;
 	max-width: 2000pt;
 	
 	margin-right: auto;
 	margin-left: auto;
	
  	justify-content: center;
  	-webkit-justify-content: center;
  	
  	animation: 1s btt_fadein;
  	
  	border-radius: 5pt;
}

.quadrat {
	vertical-align: middle;
	
	align-items: center;
  	justify-content: center;
	
	font-size: 30pt;
	
	display: flex;
	
	color: white;
	opacity: 0.5;
	border-radius: 5pt;
}

.button {
	display: block;
	text-decoration: none;
	vertical-align: middle;
	font-family: 'Source Sans Pro';
	
	margin-left: 20pt;
	margin-right: 20pt;
	font-size: 30pt;
	
	align-items: center;
  	justify-content: center;
	
	color: white;
	
	margin-top: -10pt;
	
	display: flex;
	border-radius: 5pt;
}

.button:hover {
	color: #2c2c2c;
	transition-duration:0.5s;
}

#btn_start {
	border-bottom: 1.3pt groove #000000;
}



#content {
	max-width: 2000pt;
	min-width: 700pt;
	width: 80%;
	
	min-height: 400pt;
	height: auto;
	
 	margin-right: auto;
 	margin-left: auto;
	
	margin-top: 12pt;
	
	background-color: rgba(0, 0, 0, 0.8);
	
	animation: 3s btt_fadein;
	border-radius: 5pt;
}




#footer {
	min-width: 700pt;
	width: 80%;
	
	margin-right: auto;
 	margin-left: auto;
	
	margin-top: 5pt;
	min-height: 170pt;
	max-width: 2000pt;
	
	background-color: rgba(20, 20, 30, 0.985);
	
	animation: 4s btt_fadein;
	border-radius: 5pt;
}

.footer-item {
	padding: 30pt;
}

#credit {
	float: right;
	color: white;
	
	padding-top: 100pt;
	padding-right: 20pt;
	
	text-decoration: none;
	font-family: 'Source Sans Pro';
}

#footer-icons {
	width: 50pt;
	height: 50pt;
	
}

#footer-icon-list {
	list-style-type: none;
	
	text-align: center;
	
}

#footer-list {
	display: inline-block;
	
	padding: 10pt;
	align-items: center;
}

#footer-items-list {
	list-style-type: none;
	color: white;
	
	text-align: center;
	
	font-family: 'Source Sans Pro';
	font-size: 20pt;
	
}

#footer-item {
	text-indent: 1pt;
	font-size: 20pt;
	
	margin-top: -10pt;
}

.credit {
	display: inline-block;
}

#footer-items {
	margin: 1pt;
}