#serverteam {
	padding-top: 50pt;
	padding-bottom: 50pt;
}

#serverteam #admin-header {
	color: red;
}

#serverteam #dev-header {
	
}

#serverteam #mod-header {
	color: #ED5466;
}

#serverteam #sup-header {
	color: #5959ff;
}

#serverteam #builder-header {
	color: navy;
}

#serverteam #designer-header {
	
}

#serverteam #btn_start {
	border-bottom: 0pt groove #000000;
}

#serverteam #btn_serverteam {
	border-bottom: 1.3pt groove #000000;
}

#serverteam .title {
	font-family: 'Source Sans Pro';
	font-size: 40pt;
	color: white;
	
	text-align: center;
	
	margin: 0px;
	padding: 0px;
}



#serverteam .st-ul {
	border-top: medium solid white;
	
	list-style-type: none;
	
	text-align: center;
	
	padding-bottom: 50pt;
}

#serverteam .st-list {
	display: inline-block;
	
	padding: 10pt;
	
}

#serverteam .st-icons {
	border-radius: 10pt;
	width: 100pt;
	height: 100pt;
}

#serverteam .text-hover {
	visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    
    position: absolute;
    z-index: 1;
}

#serverteam #admin-list:hover #admin-hover1 {
	visibility: visible;
}


