#startseite #diashow {
	align-items: center;
 	justify-content: center;
 	
	display: flex;
	
	height: 400pt;
	width: 690pt;
	
	margin-left: auto;
	margin-right: auto;
}

#startseite #images {
	height: 317pt;
	width: 600pt;
	
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	background-color: black;
	
	border: 3px solid white;
}

#startseite .backfront {
	display: flex;
	
	height: 350pt;
	
	text-align: center;
}

#startseite h1 {
	display: flex;
	
	font-size: 100pt;
	color: white;
	
	text-align: center;
	
	align-items: center;
 	justify-content: center;
	
	border: 3px solid white;
}

#startseite a {
	display: flex;
	
	text-decoration: none;
	color: white;
}

#startseite #back {
	display: flex;
}

#startseite #forward {
	display: flex;
}